In [2]:
import numpy as np
import pandas as pd

In [3]:
file_names=['2016.csv','2017.csv','2018.csv','2019.csv','2020.csv','2021.csv','2022.csv']
data_csv=pd.concat([pd.read_csv(f) for f in file_names])

In [4]:
data_csv.to_csv("data_csv.csv",index=False)

In [5]:
df=pd.read_csv('data_csv.csv')

C:\Users\Hp\anaconda3\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3505: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df.head()

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,Year,Round
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,NaN,3533.0,5947.0,2016,1
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,NaN,1829.0,2213.0,2016,1
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,NaN,663.0,1023.0,2016,1
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,NaN,331.0,357.0,2016,1
4,Indian Institute of Technology Bhubaneswar,Civil Engineering and M. Tech. in Structural E...,AI,OPEN,NaN,5408.0,6561.0,2016,1

In [7]:
df['Institute']=df['Institute'].str.replace('Indian Institute of Technology','IIT')

In [8]:
df['Institute']=df['Institute'].str.replace('National Institute of Technology','NIT')

In [9]:
df['Institute']=df['Institute'].str.replace('(IIIT)','')

C:\Users\Hp\AppData\Local\Temp\ipykernel_20088\330202462.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Institute']=df['Institute'].str.replace('(IIIT)','')

In [10]:
df['Institute']=df['Institute'].str.replace('Indian Institute of Information Technology','IIIT')

In [11]:
df.head()

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,Year,Round
0,IIT Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,NaN,3533.0,5947.0,2016,1
1,IIT Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,NaN,1829.0,2213.0,2016,1
2,IIT Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,NaN,663.0,1023.0,2016,1
3,IIT Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,NaN,331.0,357.0,2016,1
4,IIT Bhubaneswar,Civil Engineering and M. Tech. in Structural E...,AI,OPEN,NaN,5408.0,6561.0,2016,1

In [12]:
df['Quota'].unique()

array(['AI', 'HS', 'OS', 'AP', 'GO', 'JK', 'LA', nan], dtype=object)

In [13]:
df=df[df['Quota'].notna()]

In [14]:
df=df[df['Seat Type'].notna()]

In [15]:
df.drop(['Gender'],axis=1,inplace=True)

In [16]:
df=df[df['Opening Rank'].notna()]

In [17]:
clone=df.copy()

In [18]:
or_list=[c for c in clone['Opening Rank'] if type(c)==str and c[-1]=='P']

In [19]:
index=[]
for c in or_list:
    i=df[df['Opening Rank']==c].index
    for j in i:
        index.append(j)

In [20]:
df=df.drop(index)

In [21]:
df['Opening Rank']=df['Opening Rank'].astype(float)

In [22]:
closing_list=[c for c in clone['Closing Rank'] if type(c)==str and c[-1]=='P']

In [23]:
index_close=[]
for c in closing_list:
    i=df[df['Closing Rank']==c].index
    for j in i:
        index_close.append(j)

In [24]:
df=df.drop(index_close)

In [25]:
df['Closing Rank']=df['Closing Rank'].astype(float)

In [26]:
clone=df.copy()

In [32]:
clone.head()

,Institute,Academic Program Name,Quota,Seat Type,Opening Rank,Closing Rank,Year,Round
0,IIT Bhubaneswar,"[Civil, Engineering, 4, Years, Bachelor, of, T...",AI,OPEN,3533.0,5947.0,2016,1
1,IIT Bhubaneswar,"[Civil, Engineering, 4, Years, Bachelor, of, T...",AI,OBC-NCL,1829.0,2213.0,2016,1
2,IIT Bhubaneswar,"[Civil, Engineering, 4, Years, Bachelor, of, T...",AI,SC,663.0,1023.0,2016,1
3,IIT Bhubaneswar,"[Civil, Engineering, 4, Years, Bachelor, of, T...",AI,ST,331.0,357.0,2016,1
4,IIT Bhubaneswar,"[Civil, Engineering, and, M., Tech., in, Struc...",AI,OPEN,5408.0,6561.0,2016,1

In [28]:
clone['Academic Program Name']=clone['Academic Program Name'].str.replace('(','')

C:\Users\Hp\AppData\Local\Temp\ipykernel_20088\2883316938.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  clone['Academic Program Name']=clone['Academic Program Name'].str.replace('(','')

In [29]:
clone['Academic Program Name']=clone['Academic Program Name'].str.replace(')','')

C:\Users\Hp\AppData\Local\Temp\ipykernel_20088\3934482667.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  clone['Academic Program Name']=clone['Academic Program Name'].str.replace(')','')

In [30]:
clone['Academic Program Name']=clone['Academic Program Name'].str.replace(',','')

In [31]:
clone['Academic Program Name']=clone['Academic Program Name'].str.split()

In [33]:
duration=[]
degree=[]
for i in clone['Academic Program Name']:
    if '4' in i:
        duration.append(4)
        degree.append('B.Tech Degree')
    elif '5' in i:
        duration.append(5)
        degree.append('Dual Degree')

In [34]:
clone['Duration']=duration

In [35]:
clone['Degree']=degree

In [36]:
lst=[]
j=0

In [37]:
for i in clone['Academic Program Name']:
    if 'Engineering' in i:
        a=i.index('Engineering')
        lst.append(' '.join(i[:a+1]))
    else:
        if '4' in i:
            a=i.index('4')
            lst.append(' '.join(i[:a]))
        elif '5' in i:
            a=i.index('5')
            lst.append(' '.join(i[:a]))
    j+=1

In [38]:
c=clone.copy()

In [39]:
c.head()

,Institute,Academic Program Name,Quota,Seat Type,Opening Rank,Closing Rank,Year,Round,Duration,Degree
0,IIT Bhubaneswar,"[Civil, Engineering, 4, Years, Bachelor, of, T...",AI,OPEN,3533.0,5947.0,2016,1,4,B.Tech Degree
1,IIT Bhubaneswar,"[Civil, Engineering, 4, Years, Bachelor, of, T...",AI,OBC-NCL,1829.0,2213.0,2016,1,4,B.Tech Degree
2,IIT Bhubaneswar,"[Civil, Engineering, 4, Years, Bachelor, of, T...",AI,SC,663.0,1023.0,2016,1,4,B.Tech Degree
3,IIT Bhubaneswar,"[Civil, Engineering, 4, Years, Bachelor, of, T...",AI,ST,331.0,357.0,2016,1,4,B.Tech Degree
4,IIT Bhubaneswar,"[Civil, Engineering, and, M., Tech., in, Struc...",AI,OPEN,5408.0,6561.0,2016,1,5,Dual Degree

In [40]:
clone['Stream']=lst

In [41]:
clone.drop('Academic Program Name',axis=1,inplace=True)

In [42]:
clone.to_csv("Final.csv",index=False)

In [43]:
df1=pd.read_csv("final.csv")

In [44]:
stream_fav=df1.groupby('Stream').size().reset_index().rename(columns={0:'Total'}).sort_values('Total',ascending=False)

In [45]:
dual_btech=df1.groupby(['Institute','Degree']).size().reset_index().rename(columns={0:'Total'}).sort_values('Total',ascending=False)

In [46]:
max_closing_rank=df1.groupby(['Institute','Seat Type'])['Closing Rank'].max().reset_index()

In [47]:
min_closing_rank=df1.groupby(['Institute','Seat Type'])['Closing Rank'].min().reset_index()

In [48]:
max_closing_rank_year=df1.groupby(['Institute','Year','Stream','Seat Type'])['Closing Rank'].max().reset_index()

In [49]:
min_opening_rank_year=df1.groupby(['Institute','Year','Stream','Seat Type'])['Opening Rank'].min().reset_index()

In [50]:
quota_count=df1.groupby('Quota').size().reset_index().rename(columns={0:'Total'})

In [51]:
df.groupby(['Institute','Quota','Seat Type']).size().reset_index().rename(columns={0:'Total'})

,Institute,Quota,Seat Type,Total
0,"Assam University, Silchar",AI,EWS,63
1,"Assam University, Silchar",AI,OBC-NCL,207
2,"Assam University, Silchar",AI,OPEN,207
3,"Assam University, Silchar",AI,OPEN (PwD),61
4,"Assam University, Silchar",AI,SC,186
...,...,...,...,...
1334,lndian Institute of Food Processing Technology...,AI,OBC-NCL (PwD),1
1335,lndian Institute of Food Processing Technology...,AI,OPEN,9
1336,lndian Institute of Food Processing Technology...,AI,OPEN (PwD),9
1337,lndian Institute of Food Processing Technology...,AI,SC,9
1338,lndian Institute of Food Processing Technology...,AI,ST,9

In [52]:
min_opening_rank_round=df1.groupby(['Institute','Year','Stream','Round'])['Opening Rank'].min().reset_index()

In [53]:
max_closing_rank_round=df1.groupby(['Institute','Year','Stream','Round'])['Closing Rank'].max().reset_index()